.profile {
  display: flex;
  margin-top: 19px;
}

.profile__sidebar {
  width: 229px;
  height: 138px;
  margin-right: 116px;
}

.profile__clothing {
  width: 1015px;
  height: 676px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 229px;
  height: 56px;
  gap: 16px;
}
