.modal {
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal_item {
  display: flex;
  align-items: flex-start;
  border-radius: 16px;
  top: 106px;
  left: 471px;
  background-color: #ffffff;
  position: fixed;
}

.item-modal__content {
  position: relative;
  background-color: #ffffff;
  border-radius: 16px;
}

.modal__content_type_image {
  width: 498px;
  height: 610px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
  margin: 0;
}

.modal__close_item {
  background-image: url(../../assets/item-modal-close.svg);
  position: absolute;
  top: 24px;
  right: 24px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__delete_item {
  border: none;
  background: #ffffff;
  top: 518px;
  margin-left: 365px;
  font-family: "Cabinet Grotesk Regular", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #ff4d00;
  width: 101px;
  height: 24px;
  padding: 0;
}

.modal__image {
  height: 498px;
  width: 498px;
  display: block;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
  margin: 0 0 20px 0;
}

.modal__footer {
  display: flex;
  height: 112px;
  flex-direction: column;
}

.modal__caption {
  top: 518px;
  left: 32px;
  position: absolute;
  margin: 0;
  font-family: "Cabinet Grotesk Regular", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #000000;
}

.modal__weather {
  position: absolute;
  top: 554px;
  left: 32px;
  margin: 2px 0 0 0;
  font-family: "Cabinet Grotesk Regular", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #000000;
}
