.modal_item {
  height: 610px;
  width: 498px;
  display: flex;
  align-items: flex-start;
  border-radius: 16px;
  top: 106px;
  left: 471px;
  background-color: #ffffff;
  position: fixed;
}

.modal__content {
  position: relative;
}

.modal__content_type_image {
  width: 498px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
  margin: 0;
}

.modal__close_item {
  background-image: url(../../assets/item-modal-close.svg);
  position: absolute;
  top: 24px;
  right: 24px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__image {
  height: 498px;
  width: 498px;
  display: block;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
  margin: 0 0 20px 0;
}

.modal__footer {
  display: flex;
  height: 112px;
  flex-direction: column;
}

.modal__caption {
  top: 518px;
  left: 32px;
  position: absolute;
  margin: 0;
  font-family: "Cabinet Grotesk Regular", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #000000;
}

.modal__weather {
  position: absolute;
  top: 554px;
  left: 32px;
  margin: 2px 0 0 0;
  font-family: "Cabinet Grotesk Regular", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #000000;
}
